# памятка:
#
# в начале файла указываем package...
#
# run %test_id% -wake -stop_app_before -clear_app -push_saves:save_common -start_app -stop_app_after # comment&remark
#		%test_id% - имя теста
#		-wake - флаг принудительного пробудждения девайса, не помогает если включен локер-скрин
#		-stop_app_before - флаг принудительной остановки приложения до теста, если приложение уже запущено
#		-need_clear_app - флаг отчистки данных приложения
#		-push_saves:%save_name% - подкладываем нужные нам сэйвы, %save_name% - название набора сэйвов
#		-start_app - флаг запуска приложения
#		-stop_app_after - флаг остановки проиложения после теста

package: com.herocraft.game.tempest.lite
 

run z_sleep_test -push_saves:save_common # тестовый тест // тест пустышка

run tutorial_0 -clear_app # Начальный туториал

run z_sleep_test -push_saves:save_common # тестовый тест // тест пустышка
run tutorial_0 # Начальный туториал

run journal # тест журнала 
run faction # тест смены флагов 

stop

# дальше в некоторых тестах не указываю -push_saves, чтобы прогнать некоторые тесты подряд
run Tutorial_1 -push_saves:save_tutorial_1 # На всех парусах нужно // выключить интернэт
run Tutorial_2  # Кадры решают всё // нужно выключить интернэт
run Tutorial_3  # Продано! // нужно выключить интернэт

run Tutorial_5 -push_saves:save_tutorial_5 # Тонкая настройка // нужно выключить интернэт
run Tutorial_6  # Друзья с привелегиями // нужно выключить интернэт
run Tutorial_7  # Меткий глаз // нужно выключить интернэт
run Tutorial_8  # Огненная буря // нужно выключить интернэт
run Tutorial_9  # Кто хочет стать миллионером // нужно выключить интернэт
run Tutorial_10  # Примерный ученик // нужно выключить интернэт


stop # останавливаем парсинг конфига

#--------------------------------------------------------------
# дальше для примера возможные тесты
#--------------------------------------------------------------

run journal # тест журнала 
run faction # тест смены флагов 
 
run tutorial_0 # Начальный туториал

run Tutorial_1 -push_saves:save_tutorial_1 # На всех парусах нужно // выключить интернэт
run Tutorial_2 -push_saves:save_tutorial_2 # Кадры решают всё // нужно выключить интернэт
run Tutorial_3 -push_saves:save_tutorial_3 # Продано! // нужно выключить интернэт

#run Tutorial_4 -push_saves:save_tutorial_4 # Все на абордаж // этого теста нет, сильно сложный чтобы реализовать

run Tutorial_5 -push_saves:save_tutorial_5 # Тонкая настройка // нужно выключить интернэт
run Tutorial_6 -push_saves:save_tutorial_6 # Друзья с привелегиями // нужно выключить интернэт
run Tutorial_7 -push_saves:save_tutorial_7 # Меткий глаз // нужно выключить интернэт
run Tutorial_8 -push_saves:save_tutorial_8 # Огненная буря // нужно выключить интернэт
run Tutorial_9 -push_saves:save_tutorial_9 # Кто хочет стать миллионером // нужно выключить интернэт
run Tutorial_10 -push_saves:save_tutorial_10 # Примерный ученик // нужно выключить интернэт

run z_sleep_test -stop_app_after # тестовый тест // тест пустышка

run daily_rewards # тест окна ежедневных наград // для этого теста нужен подключеный интернэт
 
